.sfce-clearfix:before,
.sfce-clearfix:after,
.sfce-row:before,
.sfce-row:after {
  display: table;
  content: " ";
}
.sfce-clearfix:after,
.sfce-row:after {
  clear: both;
}
.sfce-row {
  margin-right: -5px;
  margin-left: -5px;
}
.sfce-col-1, .sfce-col-2, .sfce-col-3, .sfce-col-4, .sfce-col-5, .sfce-col-6, .sfce-col-7, .sfce-col-8, .sfce-col-9, .sfce-col-10, .sfce-col-11, .sfce-col-12 {
  position: relative;
  min-height: 1px;
  padding-right: 5px;
  padding-left: 5px;
  float: left;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.sfce-col-12 {
  width: 100%;
}
.sfce-col-11 {
  width: 91.66666667%;
}
.sfce-col-10 {
  width: 83.33333333%;
}
.sfce-col-9 {
  width: 75%;
}
.sfce-col-8 {
  width: 66.66666667%;
}
.sfce-col-7 {
  width: 58.33333333%;
}
.sfce-col-6 {
  width: 50%;
}
.sfce-col-5 {
  width: 41.66666667%;
}
.sfce-col-4 {
  width: 33.33333333%;
}
.sfce-col-3 {
  width: 25%;
}
.sfce-col-2 {
  width: 16.66666667%;
}
.sfce-col-1 {
  width: 8.33333333%;
}
.sfce-search-wrapper {
  padding: 0 6px;
  margin: 10px 0;
}
.sfce-input {
  -webkit-box-sizing: border-box;
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.sfce-input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.sfce-btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.sfce-btn:focus,
.sfce-btn:active:focus,
.sfce-btn.active:focus,
.sfce-btn.focus,
.sfce-btn:active.focus,
.sfce-btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.sfce-btn:hover,
.sfce-btn:focus,
.sfce-btn.focus {
  color: #333;
  text-decoration: none;
}
.sfce-btn:active,
.sfce-btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.sfce-btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.sfce-btn-default:focus,
.sfce-btn-default.focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}
.sfce-btn-default:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.sfce-btn-default:active {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.sfce-btn-block {
  display: block;
  width: 100%;
}